.userInformation {
    color: #f7f7f7;
    padding: 10px;
    width: 100%;
    margin: -8px;
    margin-top: -16px;
    background-color: #383838;
}

.userInformation li {
    font-size: 30px;
    padding-top: 8px;
    display: inline-block;
}
.userInformation li:last-child {
    float: right;
}
.userInformation li:first-child {
    float: left;
}
.userInformation li:nth-child(even) {
    margin-left: 33%;
    margin-right: 33%;
}

#logoutButton {
    background-color: darkred;
    color: #f7f7f7;
    font-size: 25px;
}
#logoutButton:hover {
    background-color: red;
}