html {
    height: 100%;
}
body {
    font-family: "Abadi", Arial, sans-serif;
    /*color: #383838;*/
    color: rgb(230, 230, 230);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(to bottom right, rgb(255, 50, 50), black);
}

button, input[type=button], input[type=radio] {
    cursor: pointer;
}

.gameBaseContainer {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    border-style: solid;
    border-radius: 2px;
    border-color: #383838;
    text-align: center;
    box-shadow: 10px 10px rgba(0, 0, 0, .7);
    background-color: rgba(0, 0, 255, .5);
}
